<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pegasus Petshop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PegasusPetshop.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PEGASUS PETSHOP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Petshop" asp-action="EscolhaExibir">Exibir</a>
                        </li>   

                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Petshop" asp-action="Escolha">Cadastrar</a>
                        </li> <!-- CRIAR PAGINA DE CADASTRO COM OPÇÕES : Funcionarios, Clientes, Produtos -->
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="IndexProdutos">Estoque</a>
                        </li>   

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Sobre</a>
                        </li>                      
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
        <!-- RODAPÉ -->
    <footer id="myFooter">
        <!--RODAPÉ-->
        <div class="footerInformation">
            <ul>
                <li><a href="https://github.com/davixbarreto" target="_blank">Davi</a></li>
                <li><a href="https://github.com/FilipeMagal" target="_blank">Filipe</a></li>
                <li><a href="https://github.com/thauanoliveiraa" target="_blank">Thauan</a></li>
                <li><a href="https://github.com/Wilwalker27" target="_blank">William</a></li>
            </ul>
            <p id="CopyrightMessage">Pegasus Petshop 2022 © <br> <a asp-area="" asp-controller="Home" asp-action="Privacy" id="All-rights-reserved">All rights reserved</a></p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
