@model PetshopModel

@{
    ViewData["Title"] = "Página de Funcionários";
}
<div class="text-center">
    <h1 class="display-4">Realmente deseja Deletar O Usuário (@Model.Nome)?</h1>
    <td>
        <a role="button" class="btn btn-danger" asp-route-id="@Model.Id" asp-controller="Petshop" asp-action="Deletar">Confirmar</a> <!-- BUG FIXING : Mude o nome da action caso dê problema ou então vá na controller digite ctrl + F e digite "var funcionario" que o comentario lá irá ajudar -->
        <a role="button" class="btn btn-secondary" asp-controller="Petshop" asp-action="Index">Voltar</a>
    </td>
</div>
